__pycache__
Env_Requirements
metrics_cv.py
requirements.txt
Deployment.py
environment.yml
.gitattributes
Data/df_pw_idx.csv
Data/PLACES_2020-2021.csv
Data/df_all_clean.csv
.ipynb_checkpoints
.DS_Store
Data/PLACES_2020-2021.csv
