absl-py==2.1.0
astunparse==1.6.3
click-plugins==1.1.1
cramjam==2.8.3
flatbuffers==24.3.25
gast==0.5.4
google-pasta==0.2.0
grpcio==1.62.1
h5py==3.11.0
hpack==4.0.0
keras==3.2.1
libclang==18.1.1
Markdown==3.6
ml-dtypes==0.3.2
munkres==1.1.4
namex==0.0.8
opt-einsum==3.3.0
optree==0.11.0
protobuf==4.25.3
pyarrow==15.0.2
scikeras==0.13.0
setuptools==69.5.1
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
termcolor==2.4.0
Werkzeug==3.0.2
wheel==0.43.0
wrapt==1.16.0
